/* ------modal------ */
/* .shadowModal {
  display: none;
} */
.modal__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  transition: 0.7s;
  opacity: 0;
  visibility: hidden;
}

.modal__container:target {
  opacity: 1;
  visibility: visible;
}

.modal__form {
  /* position: relative; */
  position: absolute;
  display: flex;
  height: 845px;
  width: 1440px;
  background-color: #ffffff;
}

.modal__block {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 75px auto;
  height: 663px;
  width: 970px;
}

.close {
  display: flex;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  top: 0;
  right: 0;
  margin-top: 25px;
  margin-right: 25px;
  cursor: pointer;
  transition: 1s;
  /* background-color: transparent; */
}

/* .close-all {
  position: absolute;
  cursor: pointer;
  height: 1000vh;
  width: 1000vw;
} */

.close-line {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #000000;
}

.close-line-left {
  transform: rotate(45deg);
}

.close-line-right {
  transform: rotate(-45deg);
}

/* --------Left-------- */
.modal__container-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.modal__logo_image {
  background-image: url("../assets/svg/logo-modal.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 85px;
  height: 41px;
}

.modal__title {
  color: #ffffff;
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #9d8665;
  white-space: nowrap;
  width: 386px;
}

.modal__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #710707;
  margin-bottom: 8px;
}

.modal__subtitle_underline {
  width: 100%;
  height: 3px;
  background: #740c11;
}

.modal__input_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 60px;
}

.modal__input_box-small {
  display: flex;
  justify-content: space-between;
}

.modal__input {
  margin-bottom: 21px;
  height: 41px;
  color: #030303;
  background-repeat: no-repeat;
  background-position: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
  padding-left: 40px;
}

.modal__input-small {
  width: 36%;
}

.modal__icon-date {
  background-image: url("../assets/svg/input-date.svg");
  background-size: 15px;
}

.modal__icon-time {
  background-image: url("../assets/svg/input-time.svg");
  background-size: 15px;
}

.modal__icon-name {
  background-image: url("../assets/svg/input-name.svg");
  background-size: 15px;
}

.modal__icon-email {
  background-image: url("../assets/svg/input-email.svg");
  background-size: 17px;
}

.modal__icon-phone {
  background-image: url("../assets/svg/input-phone.svg");
  background-size: 11px;
}

.modal__icon-text {
  background-image: url("../assets/svg/input-type.svg");
  background-size: 14px;
}

/* --------Entry---------  */
.modal__container-entry {
  width: 100%;
  box-sizing: border-box;
  border: #000000 1px solid;
  color: #030303;
  font-family: "Roboto";
}

.modal__title-entry {
  line-height: 20px;
  font-size: 18px;
  color: #9d8665;
  font-family: "Forum";
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 15px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}

.modal__title_underline {
  height: 2px;
  width: 94%;
  background-color: #740c11;
  margin-bottom: 15px;
  margin-left: 15px;
}

.modal__amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modal__text-entry {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-left: 15px;
  color: #030303;
}

.modal__amount_item {
  width: 105px;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.modal__button {
  color: #ffffff;
  background: #030303;
  height: 25px;
  width: 35px;
  box-sizing: border-box;
}

.number {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid #030303;
  height: 25px;
  width: 35px;
}

/* -------Right--------  */
.modal__container-right {
  width: 530px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid black;
  margin-left: 40px;
}

.modal__block-overview {
  display: flex;
  justify-content: space-between;
  margin: 25px 30px 0 30px;
}

.modal__title-overview {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #272727;
  margin-bottom: 3px;
}

.modal__subtitle-overview {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740c11;
  opacity: 0.9;
  margin-bottom: 10px;
}

.modal__box-overview {
  display: flex;
  align-items: center;
}

.modal__text-overview {
  margin-bottom: 5px;
  margin-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}

.modal__icon-overview-date {
  background-image: url("../assets/svg/date.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 15px;
  width: 15px;
}

.modal__icon-overview-time {
  background-image: url("../assets/svg/time.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 15px;
  width: 15px;
}

.modal__icon-overview-type {
  background-image: url("../assets/svg/type.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 15px;
  width: 15px;
}

.modal__image {
  width: 150px;
  height: 120px;
}

.modal__block-price {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px -7px 30px;
}

.modal__box-price {
  display: flex;
  align-items: center;
}

.modal__icon-price {
  background-image: url("../assets/svg/modal-price.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 32px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.modal__text-price {
  margin-bottom: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #030303;
}

.modal-price-underline {
  height: 2px;
  background-color: #740c11;
  margin: 10px 20px;
  width: 90%;
}

.modal__block-total {
  margin: 0 30px 0 30px;
}

.modal__box-total {
  display: flex;
  justify-content: space-between;
}

.modal__text-total {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #030303;
  margin-bottom: 0px;
}

.modal__text-total-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #030303;
  margin-bottom: 0px;
}

/* -------CardFront-------- */
.modal__block-card-front {
  margin: 10px 30px 0 30px;
  background: #bcbcbc;
  width: 360px;
  height: 211px;
  position: relative;
  z-index: 100;
}

.modal__box-card {
  margin: 15px 20px;
}

.modal__box-visa {
  display: flex;
}

.modal__box-date {
  display: flex;
  justify-content: space-between;
}

.modal__text-card {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
  margin-bottom: 5px;
}

.modal__input-card {
  display: flex;
  margin-bottom: 10px;
  height: 31px;
}

.modal__logo-card {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 20px;
  align-items: flex-end;
}

.modal__logo-visa {
  margin-bottom: 15px;
}

.modal__input-number {
  width: 213px;
}

.modal__input-date {
  width: 98px;
}

.modal__input-name {
  width: 317px;
}

/* -------CardBack-------- */

.modal__block-card {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
}

.modal__block-card-back {
  background: #939393;
  width: 360px;
  height: 211px;
  position: absolute;
  right: 30px;
  top: 40px;
  display: flex;
}

.modal__box-black {
  background: #161615;
  height: 45px;
  width: 100%;
  position: absolute;
  margin-top: 25px;
}

.modal__content-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 265px;
  margin-top: 85px;
}

.modal__text-cvc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
}

.modal__input-cvc {
  height: 32px;
  width: 70px;
  margin-top: 5px;
  margin-bottom: 6px;
}

.modal__text-back {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #161615;
  width: 55px;
  height: 50px;
}

.modal__button-book {
  height: 45px;
  width: 220px;
  margin-left: 140px;
  margin-top: 237px;
  background: #710707;
  opacity: 0.9;
  border: none;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  transition: 1s;
  cursor: pointer;
}

.modal__button-book:hover {
  background-color: #9d8665;
}

@media (max-width: 1024px) {
  .modal__form {
    height: 768px;
    width: 1024px;
  }
}

@media (max-width: 768px) {
  .shadowModal.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(41, 41, 41, 0.6);
    z-index: 1;
    width: 100%;
    height: 100vh;
    cursor: pointer;
  }

  .modal__container {
    position: absolute;
    top: 64%;
  }

  .modal__form {
    /* top: 0; */
    height: 1479px;
    width: 590px;
    /* box-sizing: border-box; */
  }

  .modal__block {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    margin: 0 auto; */
    margin: 88px auto;
    width: 530px;
    height: 1350px;
  }

  .modal__container-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 530px;
    margin-left: 0;
    padding-bottom: 20px;
  }

  .modal__container-right {
    margin-left: 0;
    height: 100%;
  }

  .modal__logo_image {
    margin-top: -10px;
  }

  .modal__input-small {
    width: 40%;
  }

  .modal__title {
    margin-bottom: 20px;
  }

  .modal__input_box {
    margin-top: 38px;
  }

  .modal__block-overview {
    margin: 25px 15px 0 15px;
  }

  .modal__block-price {
    margin: 20px 15px -7px 15px;
  }

  .modal__block-total {
    margin: 0 15px 0 15px;
  }

  .modal__block-card-front {
    margin: 15px 15px 0 15px;
  }

  .modal__block-card-back {
    right: 15px;
    top: 45px;
  }
}

@media (max-width: 420px) {
  .modal__container {
    top: 86%;
  }

  .modal__form {
    height: 1754px;
    width: 420px;
  }

  .modal__block {
    width: 360px;
    height: 1610px;
  }

  .modal__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  .modal__subtitle {
    margin-bottom: 8px;
  }

  .modal__subtitle_underline {
    width: 100%;
  }

  .modal__input_box {
    margin-top: 38px;
  }

  .modal__input_box-small {
    flex-direction: column;
  }

  .modal__input-small {
    width: 88%;
  }

  .modal__container-left {
    width: 360px;
    margin-bottom: -180px;
  }

  .modal__container-right {
    margin-left: 0;
    width: 360px;
  }

  .modal__block-overview {
    margin: 25px 15px 0 15px;
  }

  .modal__image {
    width: 120px;
    height: 96px;
  }

  .modal__block-price {
    margin: 20px 15px -7px 15px;
  }

  .modal-price-underline {
    margin: 12px 15px;
    width: 90%;
  }

  .modal__block-total {
    margin: 0 15px 0 15px;
  }

  .modal__block-card-front {
    margin: 15px 15px 0 15px;
    width: 330px;
    height: 209px;
    position: absolute;
  }

  .modal__logo-card {
    margin-left: 15px;
    margin-top: 15px;
  }

  .modal__logo-visa {
    margin-bottom: 12px;
    margin-top: 3px;
  }

  .modal__input-name {
    width: 290px;
  }

  .modal__block-card-back {
    width: 330px;
    height: 209px;
    right: 15px;
    top: 250px;
  }

  .modal__content-back {
    margin-left: 235px;
  }

  .modal__input-cvc {
    margin-bottom: 2px;
  }

  .modal__button-book {
    margin-left: 110px;
    margin-top: 247px;
  }
}
