@media (max-width: 768px) {
  /* @media (min-width: 421px) and (max-width: 768px) { */
  body.active {
    /* overflow: hidden; */
    /* height: 100%;
    width: 100%; */
    /* overflow-y: scroll; */
  }

  .container {
    /* padding: 0 20px; */
    /* max-width: 420px; */
  }

  .section__title {
    font-size: 40px;
    /* margin-bottom: 25px; */
    /* padding-top: 0; */
    line-height: 60px;
    letter-spacing: 5px;
  }

  .section__title-gold {
    padding-top: 40px;
  }

  .title__underline {
    width: 100%;
  }
  .title__underline::after {
    bottom: -22px;
  }

  /* --------------HEADER--------------- */
  .header__container {
    height: 110px;
  }

  .logo {
    margin-top: 10px;
  }

  .header__nav {
    position: fixed;
    /* position: sticky; */
    top: 110px;
    /* padding-top: 0; */
    padding: 0;
    /* left: -800px; */
    /* left: -860px; */
    left: -768px;
    height: 861px;
    /* width: 90%; */
    width: 768px;
    /* scroll-behavior: smooth; */
    /* overflow-y: scroll; */
    /* overflow-x: hidden;
    z-index: 3; */
  }

  .header__ul {
    padding-left: 55px;
  }

  .hamburger {
    top: 40px;
    /* overflow-y: scroll; */
    /* scroll-behavior: smooth; */
  }

  .burger__block {
    display: block;
    padding-left: 55px;
  }

  .burger_image-box {
    padding-top: 30px;
  }

  .burger_image {
    padding-bottom: 20px;
  }

  .image2 {
    margin-right: 15px;
  }

  .underline {
    background-color: #666666;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 658px;
    margin-top: 10px;
  }

  .footer__nav-burger {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 48px;
    width: 340px;
    margin-top: 32px;
    margin-left: 160px;
    list-style: none;
  }

  /* --------------WELCOME--------------- */
  .welcome__container {
    /* height: 861px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: flex-end; */
    /* align-items: center; */
  }

  .welcome__content {
    position: static;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .welcome__text {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 0;
    text-align: center;
  }

  .welcome__button {
    display: none;
  }

  .welcome__slider {
    position: static;
    height: 100%;
    width: 100%;
    right: 0;
  }

  .welcome__slider_container {
    width: 100%;
    height: 100%;
  }

  .welcome__slider-shadow {
    display: none;
  }

  .welcome__slider_pagination {
    height: 97px;
    width: 100%;
    position: static;
  }

  .slider__container {
    /* margin-top: 0; */
    padding-left: 0;
    padding-bottom: 5px;
  }

  /* --------------VISITING--------------- */
  .visiting__container {
    padding-bottom: 40px;
    height: 100%;
    /* height: 1146px; */
  }
  .visiting__block {
    /* justify-content: space-evenly; */
    margin-top: 63px;
  }

  .visiting__image {
    width: 280px;
    height: 180px;
    margin-bottom: 22px;
  }

  .visiting__title {
    font-size: 22px;
    line-height: 24px;
    /* padding-bottom: 2px; */
  }

  .visiting__text1 {
    font-size: 18px;
    line-height: 21px;
  }

  .visiting__text2 {
    margin-bottom: 41px;
  }

  /* --------------EXPLORE--------------- */

  .explore__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .explore__text {
    display: none;
  }

  .explore__content {
    margin-right: 65px;
  }

  .explore__title_underline::after {
    bottom: -23px;
    width: 725px;
  }

  .explore__text-box {
    /* margin-top: 65px; */
    display: none;
  }

  .explore__text {
    display: none;
  }

  .explore__text-adaptive {
    display: none;
  }

  .explore__box-image {
    margin-top: -12px;
    margin-left: 5px;
    margin-bottom: 0px;
  }

  /* --------------VIDEO--------------- */
  .video__container {
    /* padding-top: 5px; */
    padding-bottom: 75px;
  }

  .video__block {
    margin-top: -5px;
  }

  .viewer {
    height: 329px;
    width: 100%;
  }

  .video__button {
    width: 80px;
    height: 80px;
    /* margin-bottom: 60px; */
  }

  .video__control_box {
    height: 53px;
  }

  .progress {
    display: none;
  }

  .progress-adaptive {
    display: block;
    z-index: 0;
    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 40%,
      #fff 40%,
      #fff 100%
    );
    height: 5px;
    width: 100%;
    /* transition: background 450ms ease-in; */
    /* -webkit-appearance: none; */
    appearance: none;
    /* outline: none; */
  }

  .progress-adaptive::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    appearance: none;
    cursor: ew-resize;
    background: #ffffff;
  }

  .play {
    margin-left: 25px;
    height: 29px;
    width: 30px;
  }

  .volume-icon {
    /* width: 26px;
    height: 26px; */
    /* margin-right: 43px; */
    margin-left: 0;
  }

  .square-icon {
    width: 27px;
    height: 27px;
    margin-right: 30px;
    margin-left: 28px;
  }

  .volume {
    height: 5px;
    width: 486px;
  }

  .video__slider {
    margin-top: 20px;
    margin-bottom: 12px;
  }

  .video__slider_item {
    width: 354px;
    height: 199px;
  }

  .tns-inner {
    height: 199px;
  }

  .video__slider_box {
    padding-top: 5px;
  }

  .video__slider_circles {
    width: 190px;
    padding-bottom: 5px;
  }

  .slider_circle {
    height: 10px;
    width: 10px;
  }

  .next {
    padding-top: 10px;
  }

  .prev {
    padding-top: 10px;
  }

  /* --------------GALLERY--------------- */
  .gallery__container {
    padding-top: 40px;
    /* height: 1220px; */
  }

  .gallery__pictures img {
    width: 352px;
  }

  .gallery__picture_block {
    height: 1095px;
    padding-top: 0px;
  }

  .gallery__pictures {
    height: 1760px;
    column-gap: 24px;
  }

  .galery_shadow {
    /* width: 768px; */
    width: 100%;
    height: 235px;
  }
  /* --------------Tickets--------------- */
  .tickets__block {
    margin-top: 63px;
  }

  .tickets__image {
    height: 340px;
    width: 61%;
    /* margin-bottom: 0px; */
  }

  .tickets__amount {
    margin-right: 50px;
    /* width: 175px; */
  }

  .tickets__title-amount {
    margin-bottom: 38px;
  }

  .tickets__text {
    padding-bottom: 10px;
  }

  .tickets__button_number {
    margin-bottom: -5px;
  }

  .tickets__total {
    margin-bottom: 40px;
    margin-top: 14px;
    /* margin-top: 0; */
  }

  .tickets__button {
    margin-bottom: 40px;
  }

  .tickets__photo {
    height: 300px;
  }

  /* --------------CONTACTS--------------- */

  .contacts__title {
    font-size: 20px;
    line-height: 23px;
    margin-top: 3px;
    /* margin-bottom: 7px; */
    padding-bottom: 40px;
  }

  .contacts__block {
    margin-top: 60px;
  }

  .contacts__box {
    height: 225px;
    /* 
    padding-top: 5px; */
    /* padding-bottom: 0;
    margin-bottom: 0; */
  }

  .contacts__text {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 15px;
  }

  .contacts__image {
    width: 100%;
    /* width: 728px; */
    height: 476px;
    /* margin-bottom: 70px; */
  }

  /* --------------FOOTER--------------- */

  .footer__container {
    padding-top: 35px;
    flex-direction: column;
  }

  .footer__nav {
    /* height: 121px; */
    /* width: 313px; */
    width: 393px;
    margin-left: 103px;
    margin-top: 10px;
    /* display: flex;
    justify-content: space-between; */
  }

  .footer__ul {
    gap: 25px 150px;
  }

  .footer__ul_icon {
    /* right: 0; */
    /* left: 0; */
    /* padding-right: 300px; */
    margin-top: 35px;
    margin-left: 300px;
    /* flex-wrap: nowrap; */
  }

  .footer__li {
    /* width: 71px; */
  }

  .footer__link {
    font-size: 18px;
    line-height: 21px;
  }

  .footer__underline {
    margin-top: 40px;
    /* margin-bottom: 40px; */
  }

  .footer__container_underline {
    /* padding-bottom: 38px; */
    padding-bottom: 37px;
    padding-top: 40px;
  }
}
