@media (max-width: 420px) {
  /* @media (min-width: 300px) and (max-width: 420px) { */
  .container {
    /* max-width: 420px; */
  }

  .section__title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 5px;
    /* margin-bottom: 25px; */
  }
  .section__title-gold {
    /* padding-top: 40px; */
  }

  .title__underline {
    /* width: 100%; */
  }
  .title__underline::after {
    /* bottom: -22px; */
    /* width: 100%; */
  }

  /* --------------HEADER--------------- */
  .header__container {
    height: 90px;
  }

  .logo {
    width: 138px;
    height: 20px;
  }

  .logo__text {
    font-size: 16px;
    line-height: 18px;
  }
  .logo {
    margin-top: 3px;
  }

  .header__nav {
    top: 90px;
    padding-top: 35px;
    left: -600px;
    height: 510px;
    /* width: 100%; */
  }

  .hamburger {
    top: 30px;
  }

  .burger_image-box {
    display: flex;
    width: 74%;
    padding-top: 30px;
    justify-content: space-between;
  }

  .burger_image {
    width: 95px;
    height: 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .image2 {
    margin-right: 0;
  }

  .underline {
    width: 74%;
    margin-top: 0;
  }

  .footer__ul-burger {
    margin-top: 25px;
    margin-left: 25px;
    width: 260px;
  }

  /* --------------WELCOME--------------- */
  .welcome__content {
    padding-top: 5px;
  }

  .welcome__text {
    font-size: 16px;
    line-height: 19px;
  }

  .slider__container {
    height: 40px;
    width: 230px;
    padding-bottom: 0px;
  }

  .welcome__slider_pagination {
    height: 80px;
    width: 100%;
  }

  .slider_page-number {
    font-size: 16px;
    gap: 0 5px;
  }

  .slider-squares {
    height: 2px;
    width: 75px;
  }

  .slider-square {
    height: 7px;
    width: 7px;
  }

  .slider_arrows {
    width: 55px;
  }

  .slider_arrow-left {
    width: 20px;
  }

  .slider_arrow-right {
    width: 20px;
  }

  /* --------------VISITING--------------- */
  .visiting__container {
    padding-bottom: 0;
  }

  .visiting__image {
    margin-bottom: 20px;
  }

  .visiting__title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
    padding-bottom: 2px;
  }

  .visiting__text1 {
    font-size: 16px;
    line-height: 19px;
  }

  .visiting__text2 {
    font-size: 16px;
    line-height: 19px;
  }

  /* --------------EXPLORE--------------- */

  .explore__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .explore__title_underline::after {
    bottom: -23px;
    width: 380px;
  }

  .explore__box-image {
    height: 368px;
    width: 380px;
    margin-left: 0px;
    margin-top: -17px;
  }

  .explore__image-slider {
    height: 368px;
    width: 380px;
    /* margin-left: 190px; */
  }
  .explore__image {
    height: 368px;
    width: 380px;
    /* height: 100%;
    width: 50%; */
    /* right: 0;
    bottom: 0; */
    object-fit: cover;
  }

  /* --------------VIDEO--------------- */
  .video__container {
    padding-bottom: 32px;
  }

  .video__block {
    margin-top: -10px;
  }

  .viewer {
    height: 172px;
  }

  .video__button {
    width: 50px;
    height: 50px;
  }

  .video__control_box {
    height: 50px;
  }

  .progress-adaptive::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }

  .volume::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }

  .play {
    margin-left: 20px;
  }

  .volume-icon {
    width: 40px;
    height: 30px;
    margin-left: 5px;
    margin-right: 35px;
  }

  .square-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 25px;
  }

  .video__slider {
    height: 101px;
    margin-top: 40px;
  }

  .video__slider_item {
    width: 180px;
  }

  .tns-inner {
    height: 101px;
  }

  .video__slider_box {
    padding-top: 25px;
  }
  .video__slider_circles {
    width: 174px;
    /* padding-bottom: 5px; */
  }

  /* --------------GALLERY--------------- */
  .gallery__pictures img {
    width: 178px;
  }
  .gallery__picture_block {
    /* height: 1095px; */
    height: 652px;
    padding-top: 0px;
  }

  .gallery__pictures {
    /* height: 1760px; */
    height: 960px;
    column-gap: 24px;
  }

  .galery_shadow {
    /* width: 420px; */
    width: 100%;
    height: 112px;
  }

  /* --------------Tickets--------------- */
  .tickets__block {
    justify-content: center;
  }

  .tickets__image {
    height: 160px;
    width: 100%;
    margin-bottom: 40px;
  }

  .tickets__amount {
    align-items: center;
    margin-right: 0px;
  }

  .tickets__title-amount {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
  }

  .tickets__text {
    padding-right: 105px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
  }

  .tickets__button_number {
    margin-bottom: -10px;
  }

  .tickets__total {
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    letter-spacing: 1px;
    /* width: 81px; */
  }

  .tickets__total span {
    padding-left: 0px;
  }

  .tickets__link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 0px;
    letter-spacing: 2px;
    align-items: center;
    color: #ffffff;
  }

  /* --------------CONTACTS--------------- */
  .contacts__container {
    padding-bottom: 36px;
  }
  .contacts__block {
    margin-top: 50px;
  }

  .contacts__box {
    height: 225px;
    margin-bottom: -7px;
    /* margin-top: -10px; */
    /* padding-bottom: 5px; */
    /* padding-top: 0px; */
    /* 
    margin-bottom: 0; */
  }

  .contacts__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 13px;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 19px;
    /* padding-bottom: 20px; */
    /* margin-bottom: 15px; */
  }
  .contacts__image {
    /* width: 728px;
    height: 476px; */
    width: 380px;
    height: 248px;
    /* margin-bottom: 70px; */
  }

  /* --------------FOOTER--------------- */
  .footer__container {
    padding-top: 30px;
    /* display: flex; */
    /* flex-direction: column; */
  }

  .footer__block {
    padding-top: 10px;
    /* display: flex; */
    flex-direction: column;
    /* flex-wrap: wrap; */
  }

  .footer__logo {
    width: 131px;
    height: 20px;
  }

  .logo__image {
    width: 29px;
    height: 16px;
  }

  .logo__text {
    padding-left: 0;
    padding-top: 2px;
  }

  .footer__nav {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* height: 121px; */
    /* width: 313px; */

    /* width: 100%; */
    width: 380px;
    height: 68px;
    /* height: auto;
    width: 100%; */
    margin-left: 0px;
    margin-top: 40px;
    /* margin-right: 0; */
    /* display: flex;
    justify-content: space-between; */
  }

  .footer__ul {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 30px 30px; */
    gap: 30px 0;
    justify-content: space-between;
    /* gap: 30px 50px; */
    /* height: 68px; */
    /* width: 380px; */
  }

  .footer__ul_icon {
    /* right: 0; */
    /* left: 0; */
    /* padding-right: 300px; */
    margin-top: 40px;
    margin-left: 60px;
    width: 260px;
    /* flex-wrap: nowrap; */
  }

  .footer__li {
    width: 39%;
    /* font-size: 16px; */
    /* width: 71px; */
    /* width: 30%; */
    /* width: 80px; */
  }

  .footer__li.mob {
    width: 22%;
  }

  .footer__link {
    /* width: 39%; */
    font-size: 16px;
    line-height: 19px;
  }

  .footer__container_underline {
    /* padding-bottom: 40px; */
    /* padding-bottom: 50px;
    padding-top: 50px; */
  }

  .footer__text_link {
    display: none;
  }

  .footer__box {
    padding-bottom: 2px;
    padding-left: 5px;
  }

  .footer__text {
    font-size: 16px;
    /* margin-bottom: 7px; */
  }
}
