body {
  /* width: 1920px; */
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid #fff; */
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

a {
  text-decoration: none;
}

.section__title {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  /* font-weight: 100; */
  margin-bottom: 25px;
  /* margin-top: 0; */
  /* display: inline-block; */
}

.section__title-dark {
  color: #ffffff;
}

.section__title-gold {
  color: #9d8665;
}

.title__underline {
  position: relative;
}

.title__underline::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
  border-radius: 0px;
  width: 100%;
}

/* --------------HEADER--------------- */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #030303;
  height: 150px;
  /* height: 100%; */
}

.logo {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 199px;
  height: 33px;
}

.logo__image {
  background-image: url("../assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 49px;
  height: 26px;
  transition: 0.7s;
  fill: #ffffff;
}

.logo__text {
  color: #ffffff;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: 0.7s;
  color: #ffffff;
}

.header__nav {
  width: 775px;
  height: 26px;
  color: #ffffff;
  /* padding-right: 35px; */
  max-width: 735px;
  margin-left: auto;
  padding-right: 40px;
}

.header__ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__link {
  display: inline-block;
  /* padding-left: 20px; */
  width: 63px;
  height: 26px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.7s;
  color: #ffffff;
}

.logo__image:hover,
.logo__text:hover,
.header__link:hover {
  color: #9d8665;
}
/* --------------WELCOME--------------- */
.welcome {
  background-color: #030303;
  /* height: 810px; */
}

.welcome__container {
  position: relative;
  height: 810px;
  /* height: 100%; */
  /* padding: 75px 0; */
}

.welcome__content {
  z-index: 10;
  padding-top: 150px;
  position: absolute;
  /* max-width: 593px; */
  /*  position: relative; */
  /*  width: calc(30% - 32px); */
}

.welcome__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
  /* margin-top: 15px; */
  margin-bottom: 75px;
}

.welcome__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  display: inline-block;
  /* margin-top: 95px; */
  padding: 25px 66px;
  color: #ffffff;
  background-color: #710707;
  border-radius: 10px;
  font-size: 22px;
  line-height: 26px;
  transition: 0.7s;
  letter-spacing: 2px;
}

/* .welcome-image {
  position: absolute;
  right: 0;
  height: 750px;
  background: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0.5) 16.19%,
      rgba(0, 0, 0, 0) 30.73%
    ),
    url(1.jpg);
  width: 1000px;
  z-index: 1;
  width: 100%;
  height: 810px;
} */

.welcome__slider {
  position: absolute;
  right: 0;
  height: 810px;
  width: 1000px;
}

.welcome__slider_container {
  /* position: relative; */
  height: 750px;
  width: 100%;
}

.welcome__slider-shadow {
  position: absolute;
  z-index: 1;
}

.welcome__container_item {
  position: relative;
  animation: 0.5s ease-in-out;
  overflow: hidden;
}

.welcome_item {
  display: none;
  position: relative;
}

.welcome_item.active {
  display: block;
}

.welcome__slider_pagination {
  height: 120px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: 10;
}

.slider__container {
  height: 40px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider_page-number {
  display: flex;
  color: #ffffff;
  font-size: 22px;
  line-height: 40px;
  gap: 0 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* user-select: none; */
}

.slider-squares {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 16px;
  width: 180px;
}

.slider-square {
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  display: inline-block;
  cursor: pointer;
  transition: 0.7s;
}

.slider-square.active {
  background-color: #d2b183;
}

.slider_arrows {
  height: 8px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.slider_arrow-left {
  height: 8px;
  width: 30px;
  background-image: url("../assets/svg/slider-left-arrow.svg");
  transition: 0.7s;
  cursor: pointer;
}

.slider_arrow-right {
  height: 8px;
  width: 30px;
  background-image: url("../assets/svg/slider-left-arrow.svg");
  transform: scale(-1, 1);
  transition: 0.7s;
  cursor: pointer;
}

.welcome__button:hover,
.slider_arrow-left:hover,
.slider_arrow-right:hover,
.slider-square:hover {
  background-color: #9d8665;
}

/* --------------VISITING--------------- */
.visiting {
  background-color: white;
}

.visiting__container {
  height: 1116px;
  padding: 75px 0;
  background-color: white;
}

.visiting__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
  /* gap: 75px 60px; */
}

.visiting__box {
  /* display: block; */
  /* color: #000000; */
  transition: 0.7s;
  flex-basis: 30%;
  /* padding: 60px 0; */
  /* flex-wrap: wrap; */
  /* display: flex;
  /* flex-direction: column;  */
  /* justify-content: space-around; */
  /* // align-items: center;
  // text-align: center; */
  /* display: block; */
  /* color: #000000;
  transition: 1s; */
}

.visiting__box:hover .visiting__title,
.visiting__box:hover .visiting__text1,
.visiting__box:hover .visiting__text2 {
  color: #9d8665;
  transition: 0.7s;
}

.visiting__box:hover .visiting__title_underline::after {
  width: 100%;
}

.visiting__image {
  width: 440px;
  height: 285px;
  padding-bottom: 25px;
}

.visiting__title {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  /* margin-bottom: 10px; */
}

.visiting__title_underline {
  position: relative;
}

.visiting__title_underline::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #710707;
  border-radius: 0px;
  /* // width: 20%; */
  width: 300px;
  transition: 0.7s;
}

.visiting__text1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 10px;
}

.visiting__text2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 75px;
}

/* --------------EXPLORE--------------- */

.explore {
  background-color: #030303;
}

.explore__container {
  display: flex;
  /* align-items: center; */
  /* gap: 0 65px; */
  /* height: 865px; */
  padding: 75px 0;
  /* padding-top: 75px; */
}

.explore__content {
  display: flex;
  margin-right: 65px;
  /* justify-content: space-between; */
  /* justify-content: start; */
}

.explore__title_underline {
  position: relative;
  margin-bottom: 100px;
}

.explore__title_underline::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
  border-radius: 0px;
  width: 100%;
}

.explore__text {
  width: 660px;
  height: 77px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  margin-top: 26px;
  /* margin-right: 30px; */
  /* margin-bottom: 25px; */
  /* padding-bottom: 25px; */
}

.explore__span {
  color: #caaa7d;
}

/* ----------- */

.explore__box-image {
  position: relative;
  height: 700px;
  width: 100%;
  overflow-x: hidden;
  /* padding-top: 20px; */
  margin-top: 15px;
}

.explore__image {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.explore__image img {
  display: block;
  /* vertical-align: middle; */
}

.explore__image-slider {
  background-image: url("../assets/svg/explore-slider.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 10;
  cursor: ew-resize;
  width: 720px;
  height: 700px;
  opacity: 0.7;
  margin-left: 340px;
}

/* --------------VIDEO--------------- */

.video {
  background-color: white;
}

.video__container {
  /* height: 1246px; */
  background-color: white;
  padding: 75px 0;
  box-sizing: content-box;
}

.video__content {
  display: flex;
  justify-content: space-between;
}

.video__text {
  width: 50%;
  height: 90px;
  font-family: "Roboto-Light";
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
}

.video__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.viewer {
  /* width: 100%;
  height: auto; */
  height: 650px;
  width: 1440px;
  /* border: 1px solid #bdae82; */
  border-bottom: 0;
}

.video__button {
  background-image: url("../assets/svg/play.svg");
  position: absolute;
  background-color: transparent;
  width: 220px;
  height: 220px;
  transition: 0.7s;
  margin-bottom: 85px;
  border: none;
  padding: 0;
}

.video__button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  cursor: pointer;
}

.video__control_box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: #000000;
}

.play {
  background-image: url("../assets/svg/play2.svg");
  width: 23px;
  height: 31px;
  margin-left: 20px;
  margin-right: 25px;
}

.play-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.7s;
}

.play-icon:hover,
.play-icon:active {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  cursor: pointer;
}

.volume-icon {
  background-image: url("../assets/svg/volume.svg");
  width: 40px;
  height: 36px;
  margin-left: 30px;
  margin-right: 25px;
}

.square-icon {
  background-image: url("../assets/svg/square-icon.svg");
  width: 35px;
  height: 35px;
  margin-left: 30px;
  margin-right: 20px;
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.mute {
  background-image: url("../assets/svg/mute.svg");
}

.progress {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 50%,
    #c4c4c4 50%,
    #c4c4c4 100%
  );
  height: 8px;
  /* width: calc(80% - 160px); */
  appearance: none;
  outline: none;
  width: 64.5%;
}

.volume {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 40%,
    #c4c4c4 40%,
    #c4c4c4 100%
  );
  /* width: calc(20% - 30px); */
  height: 8px;
  appearance: none;
  outline: none;
  width: 10.76%;
}

.progress::-webkit-slider-thumb,
.volume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.video__slider {
  display: flex;
  justify-content: space-between;
  height: 254px;
  /* margin-top: 40px; */
  margin-top: 40px;
  margin-bottom: 32px;
  /* width: 100%; */
  /* width: 30%; */
  /* position: relative; */
  /* margin: auto; */
  /* margin-bottom: 15px; */
}

.video__slider_item {
  display: flex;
  justify-content: space-between;
  /* height: 100%; */
  /* width: 33%; */
  /* gap: 31.5px; */
  width: 452px;
  /* margin-right: 20px;
  margin-left: 20px; */
  /* border: none;
  box-shadow: none !important; */
}

.video__slider_box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 5px; */
  /* margin-bottom: 5px; */
}

.video__slider_circles {
  width: 200px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 3px; */
  padding-top: 6px;
  /* margin-bottom: 5px; */
}

.slider_circle {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 10px;
  background: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: 0.7s;
}

.active {
  background: #333333;
}

.arrow {
  color: #999999;
  cursor: pointer;
}

.arrow:hover {
  color: #710707;
}
.arrow:active {
  color: #333333;
}
.slider_circle:hover {
  background: #710707;
}

/* ============= */

/* Картинка мастабируется по отношению к родительскому элементу */
/* .slider .item img {
  object-fit: cover;
  width: 30%;
  height: 254px;
  border: none !important;
  box-shadow: none !important;
} */

/* .slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */
/* При наведении на кнопки добавляем фон кнопок */
/* .slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */
/* .slider-circle.selected {
  background-color: #333333;
} */

/* Анимация слайдов */
/* .video__slider .video__slider_items {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */

/* --------Video foto--------- */
/* .video__box {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .video__box_title {
  display: flex;
  align-self: flex-start;
  padding-top: 10px;
  margin: 0 auto;
} */

/* .ellipse {
  width: 40px;
  height: 40px;
  position: absolute;
} */

/* .video__title {
  color: #ffffff;
  position: absolute;
} */

/* .three-dots {
  position: absolute;
  width: 20px;
  height: 20px;
} */

/* .youtube-icon {
  background-image: url("../assets/svg/youtube-icon.svg");
  background-size: contain;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  border: none;
  padding: 0;
  position: absolute;
} */

/* .slider {
  display: flex;
  margin: 0 auto;
  height: 12px;
} */

/* --------------GALLERY--------------- */
.gallery {
  background-color: #030303;
}

.gallery__container {
  /* height: 2200px; */
  position: relative;
  padding-top: 75px;
  padding-bottom: 50px;
  /* margin-bottom: 10px; */
}

.gallery__picture_block {
  position: relative;
  height: 1960px;
  overflow: hidden;
}

.gallery__pictures {
  height: 2500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  /* column-gap: 3.5%; */
  column-gap: 36px;
  row-gap: 24px;
  overflow: hidden;
}

.gallery__pictures img {
  width: 456px;
  /* height: 570px; */
  /* width: 31.5%; */
}

.galery_shadow {
  width: 1440px;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
}

/* --------Gallery foto--------- */
/* .gallery__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery__box {
  row-gap: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.gallery-padding {
  padding-top: 50px;
}
.down {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
} */

/* --------------Tickets--------------- */
.tickets {
  background-color: white;
}

.tickets__container {
  /* height: 743px; */
  padding: 75px 0;
  /* margin-bottom: 140px; */
  background-color: white;
}

.tickets__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 103px;
}

.tickets__image {
  height: 100%;
  width: 50%;
  /* margin-bottom: 70px; */
}

.tickets__type {
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  /* padding-left: 5%; */
  /* width: 45%; */
  /* right: 0; */
  /* justify-content: space-between; */
  /* padding-bottom: 52px; */
}

.tickets__title-type {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  /* padding-bottom: 50px; */
  margin-bottom: 50px;
  /* align-self: flex-end; */
}

.tickets__input {
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: absolute;
  margin-top: 5px;
}

.checkmark {
  margin-top: 5px;
  position: absolute;
  height: 17px;
  width: 17px;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
}

.tickets__type_text {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding-left: 35px;
  display: block;
  margin-bottom: 26px;
  margin-left: 7px;
  /* position: relative; */
  /* user-select: none; */
}

.tickets__amount {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: flex-end;
}

.tickets__title-amount {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  /* padding-right: 5px; */
  /* margin-left: 5px; */
  /* padding-bottom: 50px; */
  margin-bottom: 26px;
  /* align-self: flex-end; */
}

.tickets__text {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  /* text-align: left; */
  margin: 0 auto;
  padding-right: 48px;
  padding-bottom: 15px;
  white-space: nowrap;
}

.tickets__button_number {
  position: relative;
  /* margin-bottom: 10px; */
  /* width: 150px; */
  /* height: 40px; */
  display: inline-block;
}

.button_number {
  /* display: block; */
  height: 44px;
  width: 145px;
  /* left: 19px; */
  /* width: 100%; */
  /* padding: 0; */
  margin-bottom: 10px;
  border: 3px solid #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  appearance: none;
  -webkit-appearance: none;
}

.button_minus {
  width: 0;
  height: 0;
  cursor: pointer;
  position: absolute;
  left: 14px;
  line-height: 50px;
  top: 0;
  bottom: 0;
  padding: 0;
  /* padding-left: 20px; */
  /* margin-left: 20px; */
  text-align: center;
  border: none;
  font-size: 35px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.button_plus {
  width: 0;
  height: 0;
  cursor: pointer;
  position: absolute;
  right: 34px;
  line-height: 50px;
  top: 0;
  bottom: 0;
  padding: 0;
  text-align: center;
  border: none;
  font-size: 32px;
  color: #000000;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.tickets__total {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  letter-spacing: 1.65px;
  padding-bottom: 60px;
  padding-top: 40px;
  /* padding-left: 150px; */
  /* margin-left: 100px; */
}

.tickets__button {
  background: #000000;
  border-radius: 2px;
  /* padding: 20px 25px; */
  height: 50px;
  /* width: 100%; */
  width: 175px;
  display: flex;
  /* flex-wrap: nowrap; */
  align-items: center;
  justify-content: center;
  transition: 0.7s;
  /* align-items: flex-start; */
  /* width: 175px; */
}

.tickets__button:hover {
  background-color: #9d8665;
}

.tickets__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  align-items: center;
  color: #ffffff;
}

.tickets__photo {
  height: 400px;
  width: 100%;
  background: url("../assets/img/tickets2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* --------------CONTACTS--------------- */
.contacts {
  background-color: white;
}

.contacts__container {
  /* height: 813px; */
  padding-top: 75px;
  padding-bottom: 70px;
  /* padding-bottom: 75px; */
  /* margin-bottom: 140px; */
  background-color: white;
  /* box-sizing: content-box; */
}

.contacts__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 103px;
}

.contacts__box {
  display: flex;
  flex-direction: column;
  height: 244px;
}

.contacts__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  padding-bottom: 50px;
}

.contacts__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding-left: 0;
  padding-bottom: 25px;
}

.contacts__link {
  color: #000000;
}

.contacts__image {
  margin-bottom: 70px;
}

/* --------------FOOTER--------------- */
.footer {
  background-color: #030303;
}

.footer__container {
  padding-top: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__block {
  display: flex;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  width: 195px;
  height: 50px;
}

.logo__image {
}

.logo__text {
  margin-left: 25px;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-bottom: 28px;
  margin-left: 145px;
}

/* .footer__nav_box {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 30px;
} */

.footer__ul {
  padding-right: 173px;
}

.footer__li {
  margin-bottom: 25px;
  /* padding-left: 100px; */
}

.footer__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  transition: 0.7s;
  color: #ffffff;
}

.footer__link:hover {
  color: #9d8665;
}

.footer__link_icon:hover {
  background-color: #9d8665;
}

.footer__ul_icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 48px;
  width: 340px;
  padding-top: 78px;
}

.icon {
  box-sizing: border-box;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center;
  border: #666666 1px solid;
  border-radius: 50%;
  transition: 0.7s;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.icon_yt {
  background-image: url("../assets/svg/youtube.svg");
}

.icon_inst {
  background-image: url("../assets/svg/instagram.svg");
}

.icon_fb {
  background-image: url("../assets/svg/facebook.svg");
}

.icon_tw {
  background-image: url("../assets/svg/twitter.svg");
}

.icon_pint {
  background-image: url("../assets/svg/pinterest.svg");
}

.footer__underline {
  height: 3px;
  background-color: #666666;
  width: 100%;
}

.footer__container_underline {
  padding-bottom: 40px;
  padding-top: 50px;
}

.footer__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
}

.footer__text_link {
  color: #ffffff;
  padding-left: 30px;
}
